<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Food review estimator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='flask-icon.png') }}">
</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


<body>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Food Review Estimator</h2>
        </div>

        <div class="card-body">
            <form action="{{ url_for('flask_predict') }}" method='POST'>
                <input type="text" class="form-control" id="name" name="text"
                    placeholder="Please enter food review text">
                <button type="submit" class="btn btn-success">Submit</button>
            </form>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

            {% for message in messages %}

            {% if "Error" in message[1]: %}
            <div class="alert alert-danger">{{ message[1] }}</div>
            {% else %}

            {% if "Text" in message[1]: %}
            <div class="alert alert-primary">{{ message[1] }}</div>
            {% elif "Predicted" in message[1]: %}
            <div class="alert alert-secondary">{{ message[1] }}</div>
            {% endif %}
            {% endif %}

            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

</body>

</html>